/* Fuente de la página */
body{
    font-family: Cabin;
    color: white;
}

/* Banner del Hero Section de alpacas */
#Hero-Section{
    background-image: url('../img/carousel1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left;
}

/* Tipograía para el navbar y color del ícono hamburguesa */
#barra-pagina{
    font-family: Lobster;
}

.navbar .navbar-toggler{
    background-color: black !important;
    opacity: 0.6;
 }

  li a{
    text-shadow: 1px 1px black;
 }

 /* CSS para los párrafos de Quienes Somos, barra celeste con ícono en medio*/
 .iconitos{
    color: white;
    background-color:#10ccf4;
    width: 100%; 
    height: 2rem;
    text-align: center;
    line-height: inherit !important;
    vertical-align: center;

 }