body{
    font-family: Cabin;
    color: white;
}

#Hero-Section{
    background-image: url('../img/carousel1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left;
}

#barra-pagina{
    font-family: Lobster;
}

.navbar .navbar-toggler{
    background-color: black !important;
    opacity: 0.6;
 }

 li a{
    text-shadow: 1px 1px black;
 }

 .iconitos{
    color: white;
    background-color:#10ccf4;
    width: 100%; 
    height: 2rem;
    text-align: center;
    line-height: inherit !important;
    vertical-align: center;

 }